body {
    margin: 0;
    min-height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

svg {
    width: 30px;
    height: 30px;
    background-color: blue;
}
.sidebar {
    padding: 10px;
    border: 2px solid blue;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 5%;
    .dashboard{
        align-items: center;
        display: flex;
        gap: 5%;
    }
    &>div:not(.dashboard) {
        border: 1px solid pink;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div {
            border: 1px solid red;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5%;
        }
    }
}


.header {
    border: 2px solid green;
    div {
        border: 1px solid;
    }
    padding: 10px 20px;
    display: grid;
    row-gap: 1%;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    
    :is(.top-right, .bottom-right) {
        align-self: end;
        display: grid;
        justify-content: end;
        grid-auto-flow: column;
        column-gap: 10%;
    }

    .bottom-right {
        grid-template-columns: 1fr 1fr 1fr;
        button {
            padding: 2.5px 5px;
        }
    }

    :is(.top-left, .bottom-left) {
        display: grid;
        align-self: start;
    }

    .top-left {
        gap: 1%;
        grid-template-columns: 1fr 20fr;
        grid-auto-flow: column;
    }

    .bottom-left{
        row-gap: 5%;
        column-gap: 7.5px;
        grid-area: 1fr 2fr / 1fr 5fr;
        justify-items: start;
        .avatar-L {
            grid-area: 1 / 1 / 3 / 2;
        }
        p:nth-child(2) {
            font-size: 0.5rem;
            &+p{
                font-size: 1.5rem;
            }
        }
    }


}

