

body {
    margin: 0;
    min-height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template: 1fr 3fr / 1fr 3.5fr;
}


img {
    border-radius: 50%;
}
svg {
    width: 30px;
    height: 30px;
    background-color: blue;
}
.sidebar {
    padding: 10px;
    border: 2px solid blue;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 5%;
    .dashboard{
        align-items: center;
        display: flex;
        gap: 5%;
    }
    &>div:not(.dashboard) {
        border: 1px solid pink;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div {
            border: 1px solid red;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5%;
        }
    }
}


.header {
    border: 2px solid green;
    div {
        border: 1px solid;
    }
    padding: 10px 35px;
    display: grid;

    row-gap: 1%;
    grid-template: 1fr 2fr / 6fr 4fr;
    align-items: center;
    

    .top-right {
        &>* {
            border: 1px dashed red;
        }
        align-self: start;

        display: grid;
        justify-items: end;
        align-items: center;
        column-gap: 5%;
        grid-template: 1fr / 6fr 1fr 2fr;
        p:last-child {
            justify-self: end;
        }

    }

    .bottom-right {
        align-self: start;
        display: grid;
        justify-content: end;
        justify-items: end;
        column-gap: 2.5%;
        grid-auto-flow: column;
        grid-template-columns: 2fr 1fr 1fr;


        button {
            height: 4.2vh;
            width: 4.7vw;
            box-sizing: border-box;
            background-color: rgb(20, 150, 201);
            border-radius: 999px;
            padding: 10px 25px;
        }
    }

    :is(.top-left, .bottom-left) {
        display: grid;
        align-self: start;
    }

    .top-left {
        gap: 1%;
        grid-template: 1fr / 1fr 20fr;
        grid-auto-flow: column;
    }

    .bottom-left{
        row-gap: 5%;
        column-gap: 7.5px;
        grid-area: 1fr 2fr / 1fr 5fr;
        justify-items: start;
        .avatar-L {
            grid-area: 1 / 1 / 3 / 2;
        }
        p:nth-child(2) {
            font-size: 0.5rem;
            &+p{
                font-size: 1.5rem;
            }
        }
    }


}

